.body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar
{
    padding-top: 10px;
    background-image:url(./media/index/noise.avif);
    text-align: center;
}

.companyTitle
{
    font-size: 25px;
    color: rgb(66, 66, 66);
}

.greenText
{
    color: #a0c63f;
}

.companySubtext
{
    font-size: 14px;
    color: rgb(66, 66, 66);
}

.nav-bar ul
{
    list-style-type: none;
    display: flex;
    margin-left: -15px;
    padding-top: 20px;
    justify-content: center;
}

.nav-bar li
{
    margin-right: 10px;
    font-weight: 500;
}

.nav-bar a
{
    all: unset;
}

.hero-img
{
    background-color: #9bc945;
    padding-top: 20px;
}

.hero-img p
{
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.services
{
    background-image:url(./media/index/noise.avif);
}

.services img
{
    filter: drop-shadow(0px 0px 4px #000000);
}

.services p
{
    font-size: 30px;
    padding-top: 20px;
}

.services-subtext
{
    font-size: 26px;
}

.portfolio-title
{
    font-size: 30px;
    text-align: center;
}

.portfolio-col
{
    background-color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

.portfolio p
{
    padding-bottom: 40px;
}

.portfolio a
{
    all: unset;
    background-color: #82a638;
    color: white;
}

.portfolio-description
{
    font-size: 25px;
}

.watermarks
{
    font-size: 30px;
    padding-top: 20px;
}

.watermarks img
{
    padding-top: 20px;
}

.footer
{
    margin-top: 20px;
    background-color: white;
}

.footer-col
{
    padding-top: 20px;
}

.footer p
{
    font-size: 20px;
    text-align: center;
}

.footer-titles
{
    font-size: 25px;
    font-weight: 500;
}

.footer img
{
    all: unset;
    height: auto;
    width: 50px;
}

.footer ul
{
    list-style-type: none;
    margin-left: -40px;
}

.footer li
{
    border-bottom: solid gray;
    font-size: 20px;
    font-weight: 470;
}

.footer img
{
    margin-bottom: -10px;
}

.footer li
{
    padding-bottom: 10px;
}

.footer form
{
    padding-top: 20px;
}

.footer input[type=text]
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: auto;
    width: 250px;
}

.footer input[type=submit]
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: auto;
    width: 150px;
    background-color: #82a638;
    color: white;
    font-size: 20px;
}

.bottom-navbar
{
    background-color: black;
    color: white;
}

.bottom-navbar ul
{
    list-style-type: none;
    display: flex;
    padding-top: 20px;
}

.bottom-navbar li
{
    margin-right: 10px;
    font-weight: 500;
}

@media (min-width: 1200px)
{
    .nav-bar
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .nav-logo
    {
        text-align: right;
    }

    .nav-bar ul
    {
        margin-left: -15px;
        padding-top: 20px;
    }

    .nav-bar li
    {
        margin-right: 50px;
        font-weight: 400;
    }

    .hero-img p
    {
        font-size: 40px;
        font-weight: 300;
        padding-top: 20px;
        margin-left: -20%;
    }

    .services img
    {
        height: auto;
        width: 100px;
    }

    .portfolio-title
    {
        font-size: 30px;
        text-align: left;
    }
    
    .portfolio-col
    {
        text-align: left;
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    .portfolio p
    {
        font-size: 25px;
        line-height: 20px;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .portfolio a
    {
        margin-top: 40px;
    }
    
    .portfolio-description
    {
        font-size: 11px;
        line-height: 10px;
    }

    .portfolio img
    {
        width: auto;
    }

    .watermarks-header
    {
        text-align: left;
    }

    .watermarks img
    {
        height: auto;
        width: 600px;
    }

    .watermarks-left-row
    {
        text-align: right;
    }

    .footer img
    {
        height: auto;
        width: 39px;
    }

    .footer-copyright
    {
        text-align: right;
        padding-top: 20px;
    }

    .footer p
    {
        text-align: left;
        padding-top: 0px;
    }
}